.humble-box{
  font-size: 26px;
  border: 4px solid #CCCCCC;
  margin: 50px 150px;
  padding: 15px;
}
.casablanca-box{
  background-color: #F4F1DC;
  color: #05B29E;
  font-size: 55px;
  border: 6px solid #C7C2A0;
  margin-right: 500px;
  padding: 0px 15px;